.carrosel__titulo {
    background-color: var(--branco-principal);
    color: var(--laranja-elementos);
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    padding: 1em 0em 0.5em 0em;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, 
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

.card {
    background-color: var(--branco-principal);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 1em;
    margin: 1.25em 1.5em;
}

.card__descricao {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5em;
}

.descricao__titulo {
    color: var(--laranja-elementos);
    font-weight: 700;
}

.descricao__titulo-livro {
    color: var(--azul-elementos);
    font-weight: 700;
    font-size: 18px;
    margin: .5em 0;
}

.descricao__texto {
    color: var(--preto-elementos);
    font-size: 14px;
    max-width: 148px;
    line-height: 18px;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
}

.botoes {
    display: flex;
    margin: 0 -.5em;
}

.botoes__item {
    margin: 0 .5em;
}

.botoes__ancora {
    background-color: var(--laranja-elementos);
    padding: 1em 2.2em;
    text-decoration: none;
    color: var(--branco-principal);
    font-weight: 700;
}

.descricao__icone {
    margin-bottom: 0.5em;
}

.descricao-autora {
    max-width: 152px;
    line-height: 18px;
}

@media screen and (min-width: 1024px) {
    .carrosel__titulo {
        font-size: 26px;
        padding: 2.5em 0 1em;
    }

    .swiper-pagination {
        margin: 2em 0 3em 0;
    }

    .swiper {
        width: 60%;
        padding-left: 2em;
    }

    .swiper img{
        width: 90%;
    }
    
    .swiper-button-prev, 
    .swiper-button-next {
    display: block;
    top: 60%;
    color: transparent;
    }

    .swiper-button-prev::before{
        content:"<";
        color: var(--branco-principal);
        font-size: 16px;
        font-weight: 400;
        background: var(--azul-degrade);
        border-radius: 50%;
        padding: 15% 40%;
    }

    .swiper-button-next::before{
        content:">";
        color: var(--branco-principal);
        font-size: 16px;
        font-weight: 400;
        background: var(--azul-degrade);
        border-radius: 50%;
        padding: 15% 40%;
        
    }

    .card {
        width: 40%;
        margin: 2em auto;
    }

    .descricao__texto,
    .descricao-autora {
        max-width: 270px;
    }

    .botoes__ancora:active {
        background-color: var(--azul-elementos);

    }
}

@media screen and (min-width: 1366px) {
    .carrosel__titulo {
        font-size: 32px;
        padding: 2em 0 .5em;
    }

    .carrosel__container {
        display: flex;
        align-items: center;
        margin: 3em 5vw 3em 10vw;
        gap: 1em;
    }

    .swiper-pagination {
        margin: 1em 0;
    }

    .swiper {
        width: 75vw;
    }

    .swiper img{
        width: 85%;
    }

    .swiper-button-prev, 
    .swiper-button-next {
    top: 50%;
    }

    .card {
        margin: 2.5em 0 0 0 ;
        width: 100%;
        transform: scale(0.98);
    }

    .descricao__titulo {
        font-size: 32px;
        padding-right: 2em;
    }

}